body {
  /*padding: 20px;*/
  background-color: #111111;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding: 2em;
	
}

#gridContainer {
  padding-bottom: 10px;
  
}

table {
  background-color: #C5D6C6;
  border-spacing: 0;
}

td {
  border: 1px solid #F1F5DA;
  border-radius: 3px;
  width: 10px;
  height: 10px;
}

span {
  color: #62e72d;
}

h1,h2,h3,p{
color: lime;
}


#start,
#clear,
#random {
  padding: .75em;
  border-radius: 5px;
  background-color: #141414;
      
  
}

td.dead {
  background-color: transparent;
}

td.live {
  background-color: #7a47cc;
  border-radius: 10px;
}